[Unit]
Description=Update radio stations daily at 4 AM

[Timer]
OnCalendar=daily
OnCalendar=*-*-* 04:00:00
OnBootSec=1min
Persistent=true

[Install]
WantedBy=timers.target
